.dialog-wrapper {

}

.dialog-wrapper .title {
	text-align: center;
	font-size: 20px;
	margin: 0px;
	color: white;
	font-weight: 500;
}

.dialog-wrapper .dialog-content {
	margin: 8px 20px;
}

.dialog-wrapper .dialog-content .error-text {
	font-weight: 500;
	color: #ab2727;
	font-size: 20px;
}