body, html {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	background: #F2F2F2;
	overflow: hidden;
}

.chipdrive .header {
	height: 64px;
	top: 0px;
	z-index: 1;
	background-color: white !important;
	box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.05);
}

.chipdrive .header .logo {
	height: 40px;
}

.chipdrive .nav {
	display: flex;
	flex-direction: row;	
	width: 100%;
	height: 50px;
	border-bottom: 1px solid #787878;
}

.chipdrive .nav .nav-item {
	display: flex;
	justify-content: center;
	align-items: center;
	color: #FFFFFF;
	flex: 0 0 100px;
	height: 100%;
}

.chipdrive .nav .nav-item .nav-text {
	font-weight: 500;
	color: #4D4D4D;
}

.chipdrive .list-wrapper {
	width: 100%;
	height: calc(100% - 64px - 50px);
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(140px, max-content));
	grid-gap: 16px;
	justify-content: center;
	padding: initial;
	overflow: scroll;
}

.chipdrive .list-wrapper .item-wrapper {
	position: relative;
	width: 140px;
	background-color: none;
	margin: 10px 10px;
}

.chipdrive .list-wrapper .item-wrapper .top {
	position: absolute;
	z-index: 2;
	top: 10px;
	right: 8px;
}

.chipdrive .list-wrapper .item-wrapper .top .select {
	
}

.chipdrive .list-wrapper .item-wrapper .bottom {
	position: relative;
	top: 0%;
	left: 0px;
	width: 100%;
	height: 100%;
}

.chipdrive .list-wrapper .item-wrapper .bottom .item-icon {
	display: block;
	margin: 15px auto 0px auto;
	width: 70px;
	height: 70px;
}

.chipdrive .list-wrapper .item-wrapper .bottom .title {
	text-align: center;
	width: 90%;
	margin: 10px auto;
	font-weight: 600;
	color: #4D4D4D;
	word-wrap: break-word;
	overflow-wrap: break-word;
}

@media (max-width: 399.98px) {
	.chipdrive .nav {
		justify-content: space-around;
	}
}

@media (min-width: 400px) and (max-width: 767.98px) {
	.chipdrive .nav {
		justify-content: space-around;
	}
}

@media (min-width: 768px) {
	.chipdrive .nav {
		justify-content: flex-start;
	}
}