/* cyrillic-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('Montserrat Light'), local('Montserrat-Light'), url(font.968816a2e2269688dccf41ff7b2e0bf2.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('Montserrat Light'), local('Montserrat-Light'), url(font.51edb6ed7466bc2b5671ac382baefc1a.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('Montserrat Light'), local('Montserrat-Light'), url(font.70191375553cc0a0ad32a56852bc0d23.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('Montserrat Light'), local('Montserrat-Light'), url(font.172b4d27cbd6454cee6d2da28a34dcb5.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


/* cyrillic-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(font.0602c503f2d71bda811d7047c881ac7f.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(font.78211743d72d9a04678dc64605d4d8d2.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(font.b71748ae4f80ec8c014def4c5fa8688b.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(font.b71748ae4f80ec8c014def4c5fa8688b.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


/* cyrillic-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('Montserrat Medium'), local('Montserrat-Medium'), url(font.5f59605d1143b0675a57a655f831e317.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('Montserrat Medium'), local('Montserrat-Medium'), url(font.7b5c079250216c51c47e19b021cb209a.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('Montserrat Medium'), local('Montserrat-Medium'), url(font.24eae404dd492c8ea70c08950bdb7f70.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('Montserrat Medium'), local('Montserrat-Medium'), url(font.091b209546e16313fd4f4fc36090c757.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


/* cyrillic-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'), url(font.2d20426ee3852dc3f76bf71e226d6110.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'), url(font.4653fdd6fa4e613f4e954bb3aabec452.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'), url(font.2bc2e71b27f240846bfaee11a588812c.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'), url(font.0480d2f8a71f38db8633b84d8722e0c2.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


/* cyrillic-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Montserrat Bold'), local('Montserrat-Bold'), url(font.1e574d0dc9f169218135f9c0710c17b2.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Montserrat Bold'), local('Montserrat-Bold'), url(font.a5e01c0959edbabd113bf8ab9bd0c80d.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Montserrat Bold'), local('Montserrat-Bold'), url(font.2bbc315dea0f516b1f0f8a6d4764deb7.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Montserrat Bold'), local('Montserrat-Bold'), url(font.7dbcc8a5ea2289d83f657c25b4be6193.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
body, html {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	background: #F2F2F2;
	overflow: hidden;
}

.chipdrive .header {
	height: 64px;
	top: 0px;
	z-index: 1;
	background-color: white !important;
	box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.05);
}

.chipdrive .header .logo {
	height: 40px;
}

.chipdrive .nav {
	display: flex;
	flex-direction: row;	
	width: 100%;
	height: 50px;
	border-bottom: 1px solid #787878;
}

.chipdrive .nav .nav-item {
	display: flex;
	justify-content: center;
	align-items: center;
	color: #FFFFFF;
	flex: 0 0 100px;
	height: 100%;
}

.chipdrive .nav .nav-item .nav-text {
	font-weight: 500;
	color: #4D4D4D;
}

.chipdrive .list-wrapper {
	width: 100%;
	height: calc(100% - 64px - 50px);
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(180px, max-content));
	grid-gap: 16px;
	justify-content: center;
	padding: initial;
	overflow: scroll;
}

.chipdrive .list-wrapper .item-wrapper {
	position: relative;
	height: 200px;
	width: 180px;
	background-color: none;
	margin: 10px 10px;
}

.chipdrive .list-wrapper .item-wrapper .top {
	position: absolute;
	z-index: 2;
	top: 10px;
	right: 8px;
}

.chipdrive .list-wrapper .item-wrapper .top .select {
	
}

.chipdrive .list-wrapper .item-wrapper .bottom {
	position: relative;
	top: 0%;
	left: 0px;
	width: 100%;
	height: 100%;
}

.chipdrive .list-wrapper .item-wrapper .bottom .item-icon {
	display: block;
	margin: 30px auto;
	width: 100px;
	height: 100px;
}

.chipdrive .list-wrapper .item-wrapper .bottom .title {
	text-align: center;
	width: 90%;
	margin: 15px auto;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-weight: 600;
	color: #4D4D4D;
}

@media (max-width: 399.98px) {
	.chipdrive .nav {
		justify-content: space-around;
	}
}

@media (min-width: 400px) and (max-width: 767.98px) {
	.chipdrive .nav {
		justify-content: space-around;
	}
}

@media (min-width: 768px) {
	.chipdrive .nav {
		justify-content: flex-start;
	}
}
@media screen and (min-width: 550px) {
	.login-wrapper {
		background: #EEE;
	}
	.login-form {
		margin: 75px auto !important;
		box-shadow: 0 1px 2px 0 rgba(60,64,67,0.302), 0 1px 3px 1px rgba(60,64,67,0.149) !important;
		border-radius: 5px;
		background: white !important;
	}
}
.login-wrapper {
	width: 80%;
}
.login-header {
	width: 100%;
	height: 60px;
	background: #ffffff;
	margin: 0px 0px 0px 0px;
	box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.05);
}
.login-logo {
	height: 43px;
	margin: 8px 0px 0px 12px;
}
.login-header-text {
	text-align: center;
	font-size: 25px;
	font-weight: 600;
	margin: 20px auto;
	color: #4d4d4d;
}
.login-subheader-text {
	text-align: center;
	font-size: 15px;
	font-weight: 600;
	margin: 0px auto;
	color: #707070 !important;
}
.login-error-text {
	text-align: center;
	font-size: 15px;
	font-weight: 600;
	margin: 20px auto;
	color: #c74343 !important;
}
.login-form {
	transition: all 0.5s cubic-bezier(.25,.8,.25,1);
	width: calc(100% - 20px); 
	max-width: 350px;
	margin: 0px auto;
	padding: 10px;
	box-shadow: 0px;
}
.login-label {
	font-weight: 500;
}
.login-input-box {
	-webkit-appearance: none;
	border-radius: 0px;
	width: 100%;
	height: 40px;
	box-sizing: border-box;
	margin: 7px 0px;
	font-size: 18px;
	border: 1px solid #8D8D8D;
}
.login-input-submit {
	-webkit-appearance: none;
	border-radius: 0px;
	width: 100%;
	height: 40px;
	box-sizing: border-box;
	margin: 10px 0px;
	font-size: 18px;
	background: #1109b0;
	color: #ffffff;
	border: 1px solid #8D8D8D;
}
.dialog-wrapper {

}

.dialog-wrapper .title {
	text-align: center;
	font-size: 20px;
	margin: 0px;
	color: white;
	font-weight: 500;
}

.dialog-wrapper .dialog-content {
	margin: 8px 20px;
}

.dialog-wrapper .dialog-content .error-text {
	font-weight: 500;
	color: #ab2727;
	font-size: 20px;
}
.full-width {
	width: 100% !important;
}

.full-height {
	height: 100% !important;
}

.m-0 {
	margin: 0;
}

.text {
	font-family: 'Montserrat', sans-serif;
}



.chipdrive .empty {
	position: fixed;
	top: 50%;
	left: 0;
	width: 100%;
}

.chipdrive .empty-text {
	text-align: center;
	font-size: 20px;
	font-weight: 600;
	color: #4b4b4b;
}

.chipdrive .error {
	position: fixed;
	top: 50%;
	left: 0;
	width: 100%;
}

.chipdrive .error .error-text {
	text-align: center;
	font-size: 20px;
	font-weight: 600;
}

.chipdrive .error .error-text-sub {
	text-align: center;
	font-size: 15px;
	font-weight: 600;
	color: #9f0000;
}

.chipdrive .error .error-button {
	display: block;
	margin: auto auto;
}

.chipdrive .loader {
	position: fixed;
	left: calc(50% - (50px / 2));
	top: calc(50% - (50px / 2));
	width: 50px;
	height: 50px;
}

.chipdrive .progress {
	position: fixed;
	left: calc(50% - (80% / 2));
	top: calc(50% - (50px / 2));
	width: 80%;
	height: 50px;
}

.chipdrive .progress-text {
	text-align: center;
	font-size: 20px;
	font-weight: 600;
	color: #4d4d4d;
}

.chipdrive .upload-button {
	position: fixed;
	bottom: 20px;
	right: 20px;
	width: 70px;
	height: 70px;
}

.option {
	padding: 10px;
}

.option .option-button {

}
